nav {
  height: 30px;
}

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav li a {
  color: #000000;
}

/* I THINK THIS IS NEEDING TO BE UPDATED VIA EVENTS IN JS */
nav li a:hover, nav li a.current {
  color: #DEB887;
}
