article img{
  padding: 0px 0px 20px 15px;
}

button nav {
  padding: none;
  margin: none;
}

aside img {
  padding-left: 30px;
}

aside h4 {
  padding-left: 30px;
}

aside p {
  padding-left: 30px;
}

section button {
  background-color: #CCFF99;
  margin: 40px 0px 0px 0px;
}

#buy-form h1 {
  text-align: center;
}

#booking-form h1 {
  text-align: center;
}
