nav {
  height: 30px;
  display: inline;
  padding-bottom: 10px;
}

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav li a {
  color: #000000;
}

article img{
  padding-left: 15px;
}

button nav {
  align: center;
  padding: none;
  margin: none;
}

