body:
  background-color: white;

header:
  background-color: red;

aside:
  background-color: yellow;

footer:
  background-color: red;

nav:
  background-color: gray;

article:
   background-color: cyan;
